<div class="section center yellow blog" id="blog">
  <h3 class="white-text">blog</h3>
  
  <div class="blog-section">
    <div class="white-transparent circle">
      <p class="white-text circle"> just your <br/>average coder-ess</p> 
      <p class="hidden circle"> on the journey of becoming a programmer </p>
    </div>
  </div>
  <div class="blog-section">
    <div class="">
      <p class="circle white-text"> So you care what I have to say? Awesome. I have two blogs. Check 'em out.</p>

      
    </div>
    </div>
    <div class="blog-section">
    <div class="white-transparent circle">
      <p class="white-text circle"> the details</p>
      <p class="hidden circle"> musings on design, life, etc. </p>
    </div>
  </div>
  
</div>