<div class="section center black">
  <h3 class="white-text">BLOG</h3>
  <div class="container">

    <div class="circle white float-left">
      <h2> just your average coder-ess</h2>
    </div>
    
    <div class="float-left">
      <p class="main white-text">
        I have two blogs 
      </p>
    </div>
    
    <div class="circle white float-left">
      <h2> the details</h2>
    </div>
  
  </div>
</div>