<div class="section center yellow blog" id="blog">
  <h3 class="white-text">blog</h3>
  
  <div class="blog-section">
    <a href="http://nishacodes.tumblr.com" target="_blank">
      <div class="white-transparent">
        <p class="circle"> <span class="strong">just your average coder-ess </span>
          <br>
          <br>
          musings on the journey of becoming a programmer 
        </p>
      </div>
    </a>  
  </div>
  <div class="blog-section">
    <div class="">
      <p class="circle"> So you want to know what I have to say?<br> <span class="strong">Awesome.</span> <br>I have two blogs. Check 'em out.</p>

      
    </div>
    </div>
    <div class="blog-section">
    <a href="http://nishabatra.tumblr.com" target="_blank">
      <div class="white-transparent">
        <p class="circle"> 
          <span class="strong">the details</span> 
          <br>
          <br>
          musings on design, life, and startups 
        </p>
      </div>
    </a>
  </div>
  
</div>