<div class="center section-collage" id="collage">
  <div class="collage">
    <div class="col4 hi">hi. i'm nisha</div>
    <div class="col8 nyc"></div>
  
    <div class="col6 project"> backend</div>   
    <div class="col6 project"> frontend</div>

<!--     <div class="col6 project"> blog</div>
    <div class="col6 project"> blog</div>

    <div class="col6 project"> Projects</div>
    <div class="col3 project"> Projects</div>
    <div class="col3 project"> Projects</div> -->

    <div class="col4 info"> Localist</div>
    <div class="col4 project"> Localist</div>   
    <div class="col4 project"> Localist</div>   

    <div class="col12 project"> <img class="preview" src="/images/project4.png" /></div>   
    <!-- <div class="col6 project"> Localist</div> -->

    <div class="col8 project">  <img class="preview" src="/images/project6.png" /></div>   
    <div class="col4 info"> Crowdtangle</div>   

    <!-- <div class="col4 project"> Path</div>    -->
    <!-- <div class="col8 project"> Path</div>    -->
   

    <div class="col4 project"> <img class="preview" src="/images/project7.png" /></div>  
    <div class="col4 project"> <img class="preview" src="/images/project1.png" /></div>  
    <div class="col4 project"> <img class="preview" src="/images/project2.png" /></div>     

    <div class="col4 social"> tweet stream</div>
    <div class="col8 contact"> 
      <form action="/" method="POST">

        <input id="POST-name" type="text" placeholder="Name" name="name">

        <input id="POST-email" type="email" placeholder="Email" name="email">

        <TEXTAREA ROWS="7" id="POST-email" type="text" placeholder="What's up?" name="message"></textarea>

        <button class="yellow white-text" type="submit" value="Submit">Send  </button>
      </form>
    </div>

  </div>
</div>