<div class="section center gray" id="contact">
   <h3>CONTACT</h3>
   <div class="container">
    <div class="col-6">
      <h5> find me on twitter </h5> 
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a class="twitter-timeline" href="https://twitter.com/nishacodes" data-widget-id="413762348038381568"data-chrome="nofooter" height="325"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
    <div class="col-6">
      <h5> send me a note </h5> 
      <form action="/" method="POST">

        <input id="POST-name" type="text" placeholder="Name" name="name">

        <input id="POST-email" type="email" placeholder="Email" name="email">

        <TEXTAREA ROWS="7" id="POST-email" type="text" placeholder="What's up?" name="message"></textarea>

        <button class="yellow white-text" type="submit" value="Submit">Send  </button>
      </form>
    </div>

   </div>

</div>