<div class="section center gray">
   <h3>CONTACT</h3>
   <div class="container">
    <form action="/" method="POST">

      <input id="POST-name" type="text" placeholder="Name" name="name">

      <input id="POST-email" type="email" placeholder="Email" name="email">

      <input id="POST-email" type="text" placeholder="What's up?" name="message">

      <button type="submit" value="Submit">Email me</button>
    </form>


   </div>

</div>