<div class="masonry">
  <div class="item hi"> 
    <h3 class="left">Hi there &nbsp</h3><h3 class="type"></h3>  
  </div>
  
  <div class="item w4 h3 nyc">
    <h3 class="right bottom-right"> Living in<br> New York</h3>
    
    <!-- <img src="/images/nycbridge.jpg"> -->
  </div>
  
  <div class="item h5 code">
    <div class="top">
      <h3><span class="gray">Can't Stop</span> Coding<br> <span class="gray">Won't Stop</span> Learning</h3>
    </div>
    <div class="middle">
      <div class="block half-small sass"> SASS </div>
      <div class="block half-small haml"> HAML </div>
      <div class="block js d3"> D3 </div>
      <div class="block js jquery"> jQuery </div>
      <div class="block js javascript"> JavaScript </div>
      <div class="block half-med sinatra"> Sinatra </div>
      <div class="block half-large ruby"> Ruby </div>
      <div class="block half-med rails"> Rails </div>
    </div>
  </div>

  <!-- PROJECTS -->
  <div class="item localist">
    <div class="top">
    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Localist </h3>
    </div>
    <div class="back">
      <div class="gradient-left">
        <div class="content">
        <p class="category">// projects </p>
        <h3>Localist </h3>
        <p class="description"> Localist is a restaurant and bar recommendation engine. 
          <br><br>Curate lists of your favorite local spots, receive personalized recommendations for new spots, and access all the important details in one place.<hr>
          <ul class="red">
            <li>Ruby</li>
            <li>Rails</li>
            <li>Google Places API</li>
            <li>AJAX</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
          </ul>
          <a href="http://localist.herokuapp.com" target="_blank" class="border-button">Go to app</a>
        </div>
      </div> 
    </div>
  </div>
  
  <div class="item crowdtangle">
    <div class="top">

    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Trending Media Map </h3>
    </div>
    <div class="back"> 
      <div class="gradient-left">
        <div class="content">
        <p class="category">// projects </p>
        <h3>Trending Media Map </h3>
        <p class="description"> Built for <a href="http://www.crowdtangle.com">CrowdTangle</a>, this is a geographic visualization of real-time trending local news stories across the country.</p><hr>
          <ul class="turquoise">
            <li>JavaScript</li>
            <li>D3</li>
            <li>jQuery</li>
            <li>CSS3</li>
          </ul>
          <a href="http://www.crowdtangle.com/map" target="_blank" class="border-button">Go to app</a>
        </div>
      </div> 
    </div>
  </div>

  <div class="item w2 h3 clapforashley">    
    <div class="top"></div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Clap For Ashley </h3>
    </div>
    <div class="back">
      <div class="gradient-left">
        <div class="content">
        <p class="category">// projects </p>
        <h3>#clapforashley </h3>
        <p class="description"> Localist is a restaurant and bar recommendation engine. 
          <br><br>Curate lists of your favorite local spots, receive personalized recommendations for new spots, and access all the important details in one place.<hr>
          <ul class="bluegray">
            <li>Ruby</li>
            <li>Sinatra</li>
            <li>Twitter API</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
          </ul>
          <a href="http://www.clapforashley.com" target="_blank" class="border-button">Go to app</a>
        </div>
      </div> 
    </div>
  </div>
  
  <div class="item csshacks">
    <div class="top">

    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">CSS Hacks </h3>
    </div>
    <div class="back"> 
      <div class="gradient-left">
        <div class="content">
        <p class="category">// projects </p>
        <h3>CSS Hacks</h3>
        <p class="description"> Localist is a restaurant and bar recommendation engine. 
          <br><br>Curate lists of your favorite local spots, receive personalized recommendations for new spots, and access all the important details in one place.<hr>
          <ul class="teal">
            <li>Ruby</li>
            <li>Rails</li>
            <li>HTML/CSS</li>
          </ul>
          <a href="http://csshacks.herokuapp.com" target="_blank" class="border-button">Go to app</a>
        </div>
      </div> 
    </div>
  </div>
  
  <div class="item blog">
    <div class="top">
      <a href="http://nishacodes.tumblr.com" target="_blank"><h3 class="bottom-left">The blog </h3></a>
    </div>
    <div class="middle">
      <a href="http://nishacodes.tumblr.com" target="_blank"><h3 class="bottom-left">The blog </h3></a>
      <p></p>
    </div>
  </div>

  <div class="item w4 h3 contact">    
    <div class="top"><h3 class="bottom-right">Contact</h3></div>
    <div class="middle">
      <h3 class="bottom-right">Contact</h3>
      <ul class="social">
        <li><a href="mailto:nishabatra27@gmail.com" target="_blank"><i class="fa fa-envelope"></i> </a></li>
        <li><a href="https://twitter.com/nishacodes" target="_blank"><i class="fa fa-twitter"></i> </a></li>
        <li><a href="http://www.linkedin.com/in/nishabatra/" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
      </ul>
    </div>
<!--     <div class="back"> 
      <div class="content">
        <form action="/" method="POST">

        <input id="POST-name" type="text" placeholder="Name" name="name">

        <input id="POST-email" type="email" placeholder="Email" name="email">

        <TEXTAREA ROWS="7" id="POST-email" type="text" placeholder="What's up?" name="message"></textarea>

        <button class="yellow white-text" type="submit" value="Submit">Send  </button>
       </form>
      </div>
    </div> -->
  </div>
</div>