<div class="masonry">
  <div class="item hi"> 
    <h3 class="left">Hi <br>I'm Nisha </h3>
  </div>
  <div class="item w4 h3 nyc">
    <h3 class="right bottom-right">living in<br>New York</h3>
    <!-- <img src="/images/nycbridge.jpg"> -->
  </div>
  
  <div class="item h5 code">
    <div class="top">
      <h3>Can't Stop Coding,<br> Won't Stop Learning</h3>
    </div>
    <div class="middle">
      <div class="block half-small"> SASS </div>
      <div class="block half-small haml"> HAML </div>
      <div class="block js d3"> D3 </div>
      <div class="block js jquery"> jQuery </div>
      <div class="block js"> JavaScript </div>
      <div class="block half-med sinatra"> Sinatra </div>
      <div class="block half-large"> Ruby </div>
      <div class="block half-med rails"> Rails </div>
    </div>
  </div>

  <!-- PROJECTS -->
  <div class="item localist">
    <div class="top">

    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Localist </h3>
    </div>
    <div class="back"> back</div>
  </div>
  
  <div class="item crowdtangle">
    <div class="top">

    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Trending Media Map </h3>
    </div>
    <div class="back"> back</div>
  </div>

  <div class="item w2 h3 clapforashley">    
    <div class="top"></div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Clap For Ashley </h3>
    </div>
    <div class="back"> back</div>
  </div>
  
    <div class="item localist">
    <div class="top">

    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Localist </h3>
    </div>
    <div class="back"> back</div>
  </div>
  
  <div class="item crowdtangle">
    <div class="top">

    </div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Trending Media Map </h3>
    </div>
    <div class="back"> back</div>
  </div>

  <div class="item w2 h3 clapforashley">    
    <div class="top"></div>
    <div class="middle">
      <p class="category">// projects </p>
      <h3 class="bottom-left">Clap For Ashley </h3>
    </div>
    <div class="back"> back</div>
  </div>
<!-- 
  <div class="item"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item w2"></div>
  <div class="item"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item w3"></div>
  <div class="item"></div>
  <div class="item h2"></div> -->
</div>