<div class="masonry">
  <div class="item hi"> hi. i'm nisha</div>
  <div class="item w4 h3">living in NYC</div>
  <div class="item h5">ruby, rails, sinatra, javascript, d3, jquery, sql</div>

  <!-- PROJECTS -->
  <div class="item">
    <div class="top">Localist</div>
    <div class="middle">middle</div>
    <div class="back"> back</div>
  </div>
  
  <div class="item">
    <div class="top">CrowdTangle Media Map</div>
    <div class="middle">middle</div>
    <div class="back"> back</div>
  </div>

  <div class="item w2 h3">    
    <div class="top">clapforashley</div>
    <div class="middle">middle</div>
    <div class="back"> back</div>
  </div>
  

  <div class="item"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item w2"></div>
  <div class="item"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item w3"></div>
  <div class="item"></div>
  <div class="item h2"></div>
</div>