<div id="navi">
  <div id="menu" class="default">
    <ul class="menu pull-left">
      <a href="#"><li class="bold">NISHA BATRA</li></a>
    </ul>
    <ul class="menu menu-center">
      <a href="#hi"><li class="bold">hi</li></a>
      <a href="#projects"><li class="bold">projects</li></a>
      <a href="#blog"><li class="bold">blog</li></a>
      <a href="#contact"><li class="bold">contact</li></a>
    </ul>

    <ul class="menu pull-right">
      <li>
        <a href="http://www.linkedin.com/pub/nisha-batra/15/291/644/" target="_blank">
          <img src="/images/linkedin-icon.png" class="icon" alt="LinkedIn">
        </a>
      </li>
      <li>
        <a href="http://www.twitter.com/nishacodes" target="_blank">
          <img src="/images/twitter-icon.png" class="icon" alt="Twitter">
        </a>
      </li>
      <li>
        <a href="http://www.github.com/nishacodes" target="_blank" >
          <img src="/images/github-icon.png" class="icon" alt="Github">
        </a>
      </li>
      
      
    </ul>
  </div>
</div>
