<div class="section center white" id="hi">
  <div class="container">
    <h3>HI</h3>
    <p class="main">
      I live in NYC and have been working hard to advance my craft, <br/><span class="yellow block">web development and design</span>, at the <span class="yellow block">Flatiron School</span>.  I'm training to be a full-stack developer with mad chops in <span class="yellow block">  Ruby</span>, <span class="yellow block">Rails</span>, <span class="yellow block">Sinatra</span> and <span class="yellow block">Javascript</span>. My background is in business, with a degree from Wharton at the <br/>University of Pennsylvania. 
    </p>
  </div>
</div>