<div class="section center white" id="hi">
  <div class="container">
    <h3>HI</h3>
    <p class="main">
      I live in NYC and have been working hard to advance my craft, <br/>
      <span class="yellow block">web development and design</span>. As a recent graduate of 
      <a href="http://flatironschool.com/" target="_blank"><span class="yellow block">The Flatiron School</span></a>, I've acquired some mad chops in 
      <span class="yellow block">  Ruby</span>, 
      <span class="yellow block">Rails</span>, 
      <span class="yellow block">Sinatra</span>
       and 
      <span class="yellow block">JavaScript</span>. My background is in business, with a degree from Wharton at the
      University of Pennsylvania. 
    </p>
  </div>
</div>