<div class="section center light shadow" id="projects">
  <h3>PROJECTS</h3>
  <div class="container">
    
    <div class="preview-container shadow">
      
      <!-- CAROUSEL -->
      <div id="myCarousel" class="carousel slide">
        
        
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          
        </ol>
      
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img class="preview" src="/images/project4.png" />
            <a href="http://localist.herokuapp.com" target="_blank">
              <div class="description">
                <h4>LOCALIST</h4>
                <p> Curate your favorite local spots and get personalized recommendations.</p>
                <hr>
                <p class="small">Built with: Ruby on Rails, JavaScript, AJAX</p>
                <a href="http://localist.herokuapp.com"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/localist"target="_blank">
                  <div class="description-button"> Github </div>
                </a>   
              </div>
            </a>
          </div>

          <div class="item">
            <img class="preview" src="/images/project5.png" />
            <a href="http://projectpath.herokuapp.com" target="_blank">
              <div class="description">
                <h4>Project Path</h4>
                <p> An experiment in visualizing career path data from LinkedIn.</p>
                <hr>
                <p class="small">Built with: Ruby on Rails, AngularJS, D3</p>
                <a href="http://projectpath.herokuapp.com"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/Future.me"target="_blank">
                  <div class="description-button"> Github </div>
                </a>   
              </div>
            </a>
          </div>

          <div class="item">
            <img class="preview" src="/images/project6.png" />
            <a href="#" target="_blank">
              <div class="description">
                <h4>CrowdTangle Media Map</h4>
                <p> A D3 geographic visualization of trending local news stories.</p>
                <hr>
                <p class="small">Built with: Ruby on Rails, D3</p>
                <!-- <a href="http://projectpath.herokuapp.com"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/Future.me"target="_blank">
                  <div class="description-button"> Github </div>
                </a>   --> 
              </div>
            </a>
          </div>

          <div class="item">
            <img class="preview" src="/images/project7.png" />
            <a href="http://clapforashley.com" target="_blank">
              <div class="description">
                <h4>#clapforashley</h4>
                <p> An app that applauds everytime Ashley tweets or #clapforashley is tweeted.</p>
                <hr>
                <p class="small">Built with: Sinatra, Ruby</p>
                <a href="http://clapforashley.com"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/clap_for_ashley"target="_blank">
                  <div class="description-button"> Github </div>
                </a>   
              </div>
            </a>
          </div>

          <div class="item">
            <img class="preview" src="/images/project1.png" />
            <a href="http://csshacks.herokuapp.com" target="_blank">
              <div class="description">
                <h4>CSS HACKS</h4>
                <p> View and contribute to a gallery of CSS tricks.</p>
                <hr>
                <p class="small">Built with: Ruby on Rails</p>
                <a href="http://csshacks.herokuapp.com"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/csshacks"target="_blank">
                  <div class="description-button"> Github </div>
                </a>   
              </div>
            </a>
          </div>

          <div class="item">
            <img class="preview" src="/images/project2.png" />
            <a href="http://turntable-playlister.herokuapp.com" target="_blank">
              <div class="description">
                <h4>TURNTABLE</h4>
                <p> An app that lets you listen to music via YouTube streaming</p>
                <hr>
                <p class="small">Built with: Ruby, Sinatra</p>
                <a href="http://turntable-playlister.herokuapp.com"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/playlister_sinatra"target="_blank">
                  <div class="description-button"> Github </div>
                </a>                
              </div>
            </a>
          </div>
          <div class="item">
            <img class="preview" src="/images/project3.png" />
            <a href="http://emergencycompliment.herokuapp.com/" target="_blank">
              <div class="description">
                <h4>EMERGENCY COMPLIMENT</h4>
                <p> A continuous source of compliments, you know, in case of emergency</p>
                <hr>
                <p class="small">Built with: Ruby, Sinatra</p>
                <a href="http://emergencycompliment.herokuapp.com/"target="_blank">
                  <div class="description-button"> Website </div>
                </a>
                <a href="https://github.com/nishacodes/compliments"target="_blank">
                  <div class="description-button"> Github </div>
                </a>                
              </div>
            </a>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
      </div>
    </div>
  </div>
</div>


<!-- SCRIPTS -->
<script>
  $(document).ready(function(){
    $('.carousel').carousel()
  });
</script>
