<div class="section-projects center light shadow" id="projects">
  <h3>PROJECTS</h3>
    <div class="container-wide">
    <!-- ITEM 1 -->
      <div class="preview-container-thumb shadow">
        <img class="preview" src="/images/project2.png"/>
        <a href="http://turntable-playlister.herokuapp.com" target="_blank">
          <div class="description-thumb">
            <h4 class="thumb">TURNTABLE</h4>
            <p class="thumb"> An app that lets you listen to music via YouTube streaming</p>
            <hr class="thumb">
            <p class="small-thumb">Built with: Ruby, Sinatra</p>
          </div>
        </a>
      </div>
    <!-- ITEM 2 -->
      <div class="preview-container-thumb shadow">
        <img class="preview" src="/images/project2.png"/>
        <a href="http://turntable-playlister.herokuapp.com" target="_blank">
          <div class="description-thumb">
            <h4 class="thumb">EMERGENCY COMPLIMENT!</h4>
            <p class="thumb"> An app that lets you listen to music via YouTube streaming</p>
            <hr class="thumb">
            <p class="small-thumb">Built with: Ruby, Sinatra</p>
          </div>
        </a>
      </div>

      <!-- ITEM 3 -->
      <div class="preview-container-thumb shadow">
        <img class="preview" src="/images/project2.png"/>
        <a href="http://turntable-playlister.herokuapp.com" target="_blank">
          <div class="description-thumb">
            <h4 class="thumb">EMERGENCY COMPLIMENT!</h4>
            <p class="thumb"> An app that lets you listen to music via YouTube streaming</p>
            <hr class="thumb">
            <p class="small-thumb">Built with: Ruby, Sinatra</p>
          </div>
        </a>
      </div>
  </div>
</div>