<div class="section center light shadow">
  <h3>PROJECTS</h3>
  <div class="container">
    
      
      <div class="preview-container shadow">
        <p class="arrow-left"> &lsaquo; </p>
        <p class="arrow-right"> &#8250; </p>
          <img class="preview" src="/images/project1.png"/>
        
      </div>

    
  </div>
</div>