<div class="section center light shadow" id="projects">
  <h3>PROJECTS</h3>
  <div class="container">
    
      <div class="preview-container shadow">
        
        <div class="bx-controls-direction">
          <a class="bx-prev"><a/>
          <a class="bx-next"><a/>
        </div>
        <!-- <img class="preview" src="/images/project2.png"/> -->
        <ul class="bxslider">
          <li>
            <img class="preview" src="/images/project1.png" />
            <a href="http://turntable-playlister.herokuapp.com" target="_blank">
              <div class="description">
                <h4>TURNTABLE</h4>
                <p> An app that lets you listen to music via YouTube streaming</p>
                <hr>
                <p class="small">Built with: Ruby, Sinatra</p>
              </div>
            </a>
          </li>

          <li>
            <img class="preview" src="/images/project2.png" />
          </li>

          <li>
            <img class="preview" src="/images/pic3.jpg" />
          </li>

          <li>
            <img class="preview" src="/images/pic4.jpg" />
          </li>
        </ul>
        
      </div>
  </div>
  

</div>


<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});


</script>