<div class="section1 center white">
<!--   
  <div class = "name">

  </div> -->

  <div class = "tagline">
    <h1>NISHA BATRA</h1>
   <hr>
    <h2> software engineer in training </h2>
  </div>

</div>