<div class="section1 center white">

  <div class="tagline">
    <div class="overlay">
    </div>
    <br/>
    <h1>NISHA BATRA </h1>
    <h2> &nbsp</h2>
    <br/><br/>
    <a href="#collage"><div class="button button-round" >  V</div></a>
  </div>

</div>
