<div id="fullpage" style="height: 100%; position: relative; top: 0px;">
  <div class="section active table" id="section0" data-anchor="welcome"> 
    <%= simple_partial :_welcome %>
  </div>
  <!-- <div class="section scrollable" id="section1" data-anchor="about">
    <%#= simple_partial :_grid %>
  </div> -->
</div>



