<%= simple_partial :_header %>

<div id="content">
  <%= simple_partial :_welcome %>
  <%#= simple_partial :_hi %>
  <%#= simple_partial :_projects %>
  <%#= simple_partial :_blog %>
  <%#= simple_partial :_contact %>
  <%= simple_partial :_collage %>
</div>


