/**** GENERIC STYLES ****/

body {
  font-size: 12pt;
  line-height: 1.2;
  /*font: 1em/1.4em 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

a { 
  color: inherit; 
  text-decoration: none;
}

.center { 
  text-align: center;
}

.white { background-color: white;}


/* TEXT STYLES */
h1 { /*name*/
  text-align: center;
  font-family: 'Open Sans';
  font-size: 28pt;
  letter-spacing: 10px;
  /*padding-top: 210px;*/
  /*color: white;*/
  font-weight: 600;
  display: none;
}


h2 { /*tagline*/
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16pt;
  letter-spacing: 3px;
  font-weight: 100;
  /*color: white;*/
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 100;
}

h3, h3 a { /*section headings*/
  font-size: 40pt;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
  font-weight: 900;
  padding-bottom: 30px;
}

h4 {
  font-size: 3em;
  font-weight: 600;
  font-family: 'Nixie One', cursive;
  /*text-transform: uppercase;*/
  font-weight: 400;
  letter-spacing: 2px;
  /*color: #E8D720;*/
  text-shadow: 1px 2px rgba(0,0,0,0.3);
  padding-top: 20px;
  padding-bottom: 40px;
}

h4.thumb {
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Nixie One', cursive;
  /*text-transform: uppercase;*/
  font-weight: 400;
  letter-spacing: 2px;
  /*color: #E8D720;*/
  text-shadow: 1px 2px rgba(0,0,0,0.3);
  padding-top: 5px;
  padding-bottom: 10px;
}

h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.2em;
  padding-bottom: 10px;
  letter-spacing: 1px;

}


/* WELCOME SECTION */
.section1 { /*welcome*/
  width: 100%;
  position: relative;
}

.button-round {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 0px;
  margin-left: -40px;
  display: none;
  position: absolute;
  left: 50%;
}

.button-round:hover{ /* FIX THIS */
  color:white;
  background-color: white;
}

/* GRID SECTION */
.hi {
  background-color: blue;
  height: 300px;
  font-size: 40px;
  padding: 80px 20px 20px 20px;
 
}

/* TYPE EFFECT */

#typed-cursor{
  opacity: 0; /* it's not blinking so made invisible */
  font-weight: 100;
  // add prefixes
  animation: blink 0.7s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* MASONRY */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.masonry {
  background: #EEE;
  width: 100%;
}

/* clearfix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.masonry .item {
  width:  300px;
  height: 300px;
  float: left;
  background: #999;
  border: 2px solid #333;
  
}

.item.w2 { width:  300px; }
.item.w3 { width:  300px; }
.item.w4 { width:  600px; }

.item.h2 { height: 150px; }
.item.h3 { height: 300px; }
.item.h4 { height: 450px; }
.item.h5 { height: 600px; }

.item.gigante { /* when you click */
  width: 900px;
  height: 600px;
}

.item:hover {
  background: #000;
  border-color: white;
  cursor: pointer;
}

.onHover {
  width: 100%;
  height: 100%;
  display: none;
  color: white;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  top: 0;
  z-index: 1;
}

.middle {  
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: green;
}

.top {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  background: blue;
}