/*.main {height:1500px; width:500px; background-color:#eee; float:left;}
.nav {height:34px; width:500px; position:fixed; top:0; left:0; background-color:#6699ff; opacity:0;}
.visible {opacity:1;}
.nav a {display:block; font-size:14px; line-height:14px; float:left; padding:10px;}
.header {width:500px; height:150px; float:left; background-color:#ddd;}
.content {width:500px; height:1200px; float:left;}

*/

/**** GENERIC STYLES ****/

body {
  font-size: 12pt;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
}

.centering {
  width: 0px;
  height: 100%;
  margin-left: 50%;
}

.center { 
  text-align: center;
}
.float-left {
  display: inline-block;
}

.yellow { background-color: #E8D720;}

.light { background-color: #FAFAFA;}

.white { background-color: white;}

.gray { background-color: #DEDEDE;}

.black { background-color: black;}

.shadow {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 0px 20px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 0px 20px rgba(0, 0, 0, 0.15);
}

hr {
  width: 250px;
}
/**** TEXT STYLES ****/

h1 { /*name*/
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18pt;
  letter-spacing: 3px;
  padding-top: 100px
}

h2 { /*tagline*/
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18pt;
  letter-spacing: 3px;
  font-weight: 100;
  /*padding-top: 130px*/
}

h3, h3 a { /*section headings*/
  font-size: 36pt;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  font-weight: 900;
  padding-bottom: 30px;
}

.main {
  color: black;
  font-size: 20pt;
  line-height: 2;
  letter-spacing: 1px;
}

.block {
  padding: 4px 8px 4px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.block:hover {
  color: white;
}

.white-text {
  color: white;
}

/**** DIV STYLES ****/
.container {
  width: 70%;
  margin: 0 auto;
  position: relative
}

.section1 { /*welcome*/
  width: 100%;
  position: relative;
}

.section { /*welcome*/
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.tagline { 
  height: 720px;
  /*color: white;*/
  background-image: url('/images/swan.jpg');
  background-size: 100%;
}


.preview-container {
  width: 800px;
  height: 425px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.preview {
  width: 100%;
  overflow: hidden;
}

.preview:hover {/* if description block*/
  /*opacity: 0;*/
}

.description { /*description block*/
  width: 700px;
  height: 400px;
  display: block;
  background-color: blue;
}

.arrow-left {
  font-size: 50pt;
  width: 30px;
  left: -70px;
  top: 150px;
  position: absolute; 
}

.arrow-right {
  font-size: 50pt;
  width: 30px;
  right: -70px;
  top: 150px;
  position: absolute; 
}

.circle {
  width: 250px;
  height: 250px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  margin: 60px;
}

/**** NAV STYLES ****/

/* NOT USED */

.main-nav {
  height: 50px; 
  background-color: white;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 4px 12px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 4px 12px rgba(0, 0, 0, 0.2);
}

#nav {
  width: 100%;
  height: 40px;
  float: left;
  padding: 0;
  list-style: none; 
}

#nav li {
  float: left; 
  padding: 5px 50px 5px 50px;
  height: 100%;
}

#nav li:hover {
  background-color: #D1D1D1;
}

li.search {
  float: left; 
  width: 45%;
  padding-left: 0px;
  border-right-color: #D1D1D1;
  border-right-style: solid;
  border-right-width: 2px;
}

ul.list {
  line-height: 1.5;
  font-size: 14pt;
  color: gray;
}


/*.white {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.1);
}*/

.nav-container {
  height: 60px;
  padding: 10px 0px 0px 0px;
  background-color: rgba(255,255,255,1);
}

.project_container {
  min-width:640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background-color: black;
}



iframe {
  margin-left: -426px;
}
